.reset-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
   background-image: url('https://media.istockphoto.com/id/1061204020/vector/abstract-guilloche-pattern.jpg?s=612x612&w=0&k=20&c=15k1tae2MN5yr2Zpow-SAwBNGMa_8EDzF3gD3nFysUQ=');
}

.reset-form {
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.reset-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f2937; /* Dark Gray */
}

.reset-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.2rem;
  border: 1px solid #d1d5db; /* Light border */
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.reset-input:focus {
  border-color: #3b82f6; /* Blue focus */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.reset-button {
  width: 100%;
  background-color:  #61cad8;
  color: black;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #61cad8;
}